<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="datawave.elytron">
    <resources>
        <resource-root path="datawave-ws-security-${project.version}.jar"/>
        <resource-root path="datawave-ws-common-${project.version}.jar"/>
        <resource-root path="common-utils-${project.version}.jar"/>
        <resource-root path="authorization-api-${version.datawave.authorization-api}.jar"/>
        <resource-root path="jackson-datatype-guava-${version.jackson}.jar"/>
        <resource-root path="jackson-module-jaxb-annotations-${version.jackson}.jar"/>

    </resources>
    <dependencies>
        <module name="org.apache.log4j"/>
        <module name="org.wildfly.security.elytron"/>
        <module name="org.wildfly.extension.elytron"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
    </dependencies>
</module>
